article.tweet {
    background-color: #white;
    border-color: #d0cdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    opacity: .8;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 10px;
}

article.tweet:hover {
  opacity: 1.0;
}


article.tweet:hover i {
  opacity: 1.0;
  color: #19ccba;


}

article.tweet:hover .head-text {
    margin-left: 100px;
    color: #black;
    position: relative;
    bottom: -15px;
}

article.tweet footer i.fa-heart:hover {
  color:red;
  font-size: 1.5em;
  position: relative;
    bottom: 15px;


}
article.tweet footer i.fa-flag:hover {
  color:blue;
  font-size: 1.5em;
  position: relative;
    bottom: 15px;

}
article.tweet footer i.fa-retweet:hover {
  color:#42ff42;
  font-size: 1.5em;
  position: relative;
    bottom: 15px;
}

article.tweet:hover .grow {
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    transition: height .25s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    position: relative;
    bottom: 29px;
    height: 60px;
    width: 60px;
    margin-right: 12px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative top: 20px;
}

#created-tweets .tweet-text {
    margin: 30px 8px 30px 8px;
    font-size: 14pt;
}

  header {
    background-color: #eeeeee;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 4px;
    height: 70px;
    .head-text:hover {
        color: green;
    }
}

.grow {
    position: relative;
    bottom: 25px;
    height: 53px;
    width: 53px;
    margin-right: 12px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: relative top: 20px;
}

   .head-text {
    margin: 0px;
    margin-left: 60px;
}


/*header:hover .head-text, .avatar{
color: green;
.avatar {
height: 65px;
width: 65px;
}

}
*/

#created-tweets .userhandle {
    color: #a5a3a3;
    float: right;
    padding-top: 4px;
}

i {
  float: right;
  margin: 5px;
  position: relative;
    bottom: 10px;
    opacity: 0.0;

}



footer {
    background-color: #white;
    border-top: 1px solid #d0cdcd;
    margin-bottom: 20px;
    padding-right: 6px;
  }

#created-tweets .foot-text {
   position: relative;
    bottom: -10px;
    margin: 0;
    font-size: 10pt;
    padding-left: 5px;

}
