
#nav-bar .compose {
  background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    opacity: 1.0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin-right: 16em;
    margin-left: 2em;
    margin-top: 9px;
  float: right;
  line-height: 60px;
  color: black;
  bottom: -20px;
  font-size: 150%;
  padding-right: 10px
}

 #nav-bar i {
  font-size: 100%;
  float: left;
  line-height: 12px;
  margin-left: 8px;
  color: black;
  opacity: 1.0;
  bottom: -20px;

 }


 #nav-bar .compose:hover, .compose:active {
  box-shadow: inset 0 0 20px #00a087;
}


#nav-bar {
  position: top;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;

}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  float: top;
  margin-left: 22em;


}

#nav-bar .header {
  font-size: 200%;
  float: left;
  line-height: 80px;
  margin-left: 10px;

}
